.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
upande_scp/public/dist
package-lock.json
__pycache__
data.csv
pest data.txt
disease data.txt
trap data.txt
report temps
test_scouting_load.py
delete_duplicate_scouting_entries.py
CHEPSITO (KE0300809046) FCM Weekly monitoring data Template_2026.xlsx
CHEPSITO_FCM_Weekly_Report_2026_W14.xlsx
/temp
/doc references
upande_scp/serverscripts/tests/snapshots/
/trash
