<header
	class="tw-sticky tw-top-0 tw-header tw-bg-white tw-border-b tw-border-black tw-px-4 md:tw-px-6 tw-z-50 tw-flex tw-items-center tw-justify-between"
	style="height: 52px"
>
	<div class="tw-flex tw-items-center tw-gap-3 tw-flex-none">
		<div>
			<h1 class="tw-text-base tw-font-semibold tw-text-black tw-tracking-tight">
				Application Floor Plans
			</h1>
		</div>
	</div>

	<nav class="tw-hidden lg:tw-flex tw-gap-8 tw-flex-1 tw-justify-center">
		<a
			href="/app/scouting-&amp;-crop-protection"
			class="tw-text-black tw-font-medium tw-text-sm tw-py-2 tw-px-3 tw-nav-tree"
			>Home</a
		>
		<a
			href="new-application-floor-plan"
			class="tw-text-black tw-font-medium tw-text-sm tw-py-2 tw-px-3 tw-nav-tree"
			>New Application Floor Plan</a
		>
		<a
			href="/app/work-order/view/list?custom_type=Application+Floor+Plan"
			class="tw-text-black tw-font-medium tw-text-sm tw-py-2 tw-px-3"
			>Historical Application Floor Plans</a
		>
		<a
			href="/app/bom/view/list?custom_item_group=Chemical+Mix"
			class="tw-text-black tw-font-medium tw-text-sm tw-py-2 tw-px-3 tw-nav-folktales"
			>BOMs</a
		>
	</nav>

	<div class="tw-flex tw-items-center tw-gap-3 tw-flex-none tw-justify-end">
		<button id="mobile-menu-btn" class="lg:tw-hidden tw-ml-4 tw-p-2 tw-text-black">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="tw-w-6 tw-h-6"
			>
				<path></path>
			</svg>
		</button>
	</div>
</header>

<div
	id="mobile-menu"
	class="tw-hidden lg:tw-hidden tw-mobile-menu tw-absolute tw-top-[52px] tw-left-0 tw-right-0 tw-bg-white tw-border-t tw-border-black tw-z-40 tw-flex tw-flex-col tw-gap-2 tw-p-4"
>
	<a
		href="/app/scouting-&amp;-crop-protection"
		class="tw-text-black tw-font-medium tw-p-2 tw-nav-tree-mobile"
		>Home</a
	>
	<a href="new-application-floor-plan" class="tw-text-black tw-font-medium tw-p-2">Scouts</a>
	<a
		href="/app/work-order/view/list?custom_type=Application+Floor+Plan"
		class="tw-text-black tw-font-medium tw-p-2"
		>Observations</a
	>
	<a
		href="/app/bom/view/list?custom_item_group=Chemical+Mix"
		class="tw-text-black tw-font-medium tw-p-2 tw-nav-folktales-mobile"
		>Varieties</a
	>
	<hr class="tw-border-black tw-my-2" />
	<button
		class="tw-btn tw-w-full tw-py-2.5 tw-font-semibold tw-text-sm tw-bg-black tw-text-white tw-border tw-border-black"
	>
		Expand All
	</button>
	<button
		class="tw-btn tw-w-full tw-py-2.5 tw-font-semibold tw-text-sm tw-bg-white tw-text-black tw-border tw-border-black"
	>
		Collapse All
	</button>
</div>
